In [5]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A':[1,2,3,4,np.nan]})
print(df['A'] > 2)

0    False
1    False
2     True
3     True
4    False
Name: A, dtype: bool

In [6]:
df.isnull().any()

A    True
dtype: bool

In [7]:
df.isnull().all()

A    False
dtype: bool

In [10]:
df.loc[df['A'] > 2, 'A'] = 10
df

      A
0   1.0
1   2.0
2  10.0
3  10.0
4   NaN

In [17]:
df2 = pd.DataFrame({'A':[1,2],'B':[3,4]})
print(df.values)

[[1 3]
 [2 4]]

In [18]:
df2.apply(len)

A    2
B    2
dtype: int64

In [19]:
df2.reset_index(drop=True)

   A  B
0  1  3
1  2  4

In [20]:
df2.reset_index(drop=False)

   index  A  B
0      0  1  3
1      1  2  4

In [21]:
print(df['A'].map({1:'x', 2:'y'}))

0    x
1    y
Name: A, dtype: object

In [22]:
df2.groupby('A').size()

A
1    1
2    1
dtype: int64

In [24]:
print(df2.empty)

False

In [25]:
print(df.dropna())

   A  B
0  1  3
1  2  4

In [26]:
df3 = pd.DataFrame()
print(df3.dropna())

Empty DataFrame
Columns: []
Index: []